-- ============================================================
-- 📦 Migration: إضافة أعمدة إدارة المخزون لجدول المنتجات
-- شغّل هذا الكود في Supabase SQL Editor
-- ============================================================

-- 1. إضافة عمود كمية المخزون
ALTER TABLE products
ADD COLUMN IF NOT EXISTS stock_quantity INTEGER DEFAULT 0;

-- 2. إضافة عمود حد التنبيه للمخزون المنخفض
ALTER TABLE products
ADD COLUMN IF NOT EXISTS low_stock_threshold INTEGER DEFAULT 5;

-- 3. تعيين كمية افتراضية (20) لجميع المنتجات الموجودة التي لم يتم تعيين كمية لها
UPDATE products
SET stock_quantity = 20
WHERE stock_quantity IS NULL OR stock_quantity = 0;

-- 4. التأكد من وجود عمود in_stock
ALTER TABLE products
ADD COLUMN IF NOT EXISTS in_stock BOOLEAN DEFAULT true;

-- 5. تحديث حالة التوفر بناءً على الكمية الفعلية
UPDATE products
SET in_stock = (stock_quantity > 0);

-- ============================================================
-- ✅ للتحقق من نجاح العملية، شغّل هذا الاستعلام:
-- ============================================================
SELECT
    id,
    name,
    stock_quantity,
    low_stock_threshold,
    in_stock,
    CASE
        WHEN stock_quantity <= 0 THEN '🚫 نفد'
        WHEN stock_quantity <= low_stock_threshold THEN '⚠️ منخفض'
        ELSE '✅ متوفر'
    END AS stock_status
FROM products
ORDER BY stock_quantity ASC;
